:root {
    --text-color: #2E2F42;
    --accent-color: #404BBF;
    --text-section-color: #434455;

}

.body {
    font-family: Roboto, sans-serif;
    font-size: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: var(--text-section-color);
}
ul {
    list-style: none;
}
/*header*/
/*logo*/
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}
.logo-nav {
    color: var(--text-color);
}
.link-aitem {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}

.link-aitem:active,
.link-aitem:focus,
.link-aitem:hover {
    color: var(--accent-color);
}
.contacts-aitem {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-section-color);
    text-decoration: none;
    font-style: normal;
}

.contacts-aitem:active,
.contacts-aitem:hover,
.contacts-aitem:focus {
    color: var(--accent-color);
}  
   
/*main*/
/*section site header*/
.slogan {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: var(--text-color);
}
.modal-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
}
.modal-button:hover,
.modal-button:focus {
    background: var(--accent-color);
}
    
.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color);
}
    
/*section feature*/
.feature {
    visibility: hidden;
} 
.feature-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-section-color);
    }

/*section skills*/
/*section our team*/
.card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.card-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-section-color);
}
/*footer*/
.footer {
    background: var(--text-color);
}
.logo-footer {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
      
/*portfolio*/
.portfolio-name {
    visibility: hidden;
}
.button-filters {
    color: #4D5AE5;
    background: #F4F4FD;
}
.button-filters:active,
.button-filters:hover,
.button-filters:focus {
    cursor: pointer;
    color: #FFFFFF;
    background: var(--accent-color);
}
.cards-our {
    text-decoration: none;
}
.cards-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.cards-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-section-color);
}
